<div class="row">
  <ion-slide-box on-slide-changed="topPaneChanged($index)">
    <ion-slide ng-repeat="item in worseElements">
      <div>
        <h1 ng-bind="item.name.singular"></h1>
        <object
          class="mainSlider--svg"
	  ng-attr-data="{{svgLoc(item.svg)}}"></object>
      </div>
    </ion-slide>
  </ion-slide-box>
</div>
<div class="row">
  <div style="width: 100%">
    <h1 ng-bind="'Eat ' + stripsOfBacon"></h1>
    <object
      class="mainSlider--svg"
      ng-attr-data="{{svgLoc(41703)}}"></object>
  </div>
</div>
<div class="row row-bottom">
  <ion-slide-box>
    <ion-slide ng-repeat="item in betterElements">
      <div>
        <h1 ng-bind="nameBuilder(item)"></h1>
	<h2>
          <span ng-bind="itemsForSelectedItem(item)"></span>
        </h2>
	<object
          class="mainSlider--svg"
	  ng-attr-data="{{svgLoc(item.svg)}}"></object>
      </div>
    </ion-slide>
  </ion-slide-box>
</div>
