<ion-content>
  <div class="row">
    <ion-slide-box on-slide-changed="topPaneChanged($index)">
      <ion-slide ng-repeat="item in worseElements">
        <div>
	  <h1>{{item.name.singular}}</h1>
	  <object height="200" width="200" data="img/svgs/noun_{{item.svg}}_cc.svg?color=blue">
	  </object>
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
  <div class="row row-center">
    <h1>Eat {{stripsOfBacon}}</h1>
    <object height="200" width="200" data="img/svgs/noun_41703_cc.svg"></object>
  </div>
  <div class="row row-bottom">
    <ion-slide-box>
      <ion-slide ng-repeat="item in betterElements">
        <div>
          <h1>{{nameBuilder(item)}}</h1>
          <h2>{{itemsForSelectedItem(item)}}</h2>
	  <object height="200" width="200" data="img/svgs/noun_{{item.svg}}_cc.svg"></object>
        </div>
      </ion-slide>
    </ion-slide-box>
  </div>
</ion-content>
